<div class="border-top py-3" id="comment-<%= comment.id %>">
  <% if comment.user.avatar.attached? %>
    <%= image_tag comment.user.avatar.variant(resize_to_fill: [20, 20]).processed, class: %i[rounded-circle bg-white border mr-2] %>
  <% end %>
  <%= comment.user.name %>
  <%= comment.created_at %>
  <p>
    <%= comment.content %>
  </p>
  <div class="d-flex justify-content-end mr-5">
    <% if current_user&.liked_comment?(comment) %>
      <%= render 'comment_likes/dislike', comment: comment %>
    <% elsif current_user %>
      <%= render 'comment_likes/like', comment: comment %>
    <% else %>
      <p class="mb-0">
        ☆Like
        <span class="pl-1">
          <%= CommentLike.where(comment_id: comment.id).count %>
        </span>
      </p>
    <% end %>
  </div>
</div>