<%= content_for :title do %>
  プレビュー
<% end %>
<div class="container-fluid">
  <div class="container">
    <p>
      ▶︎
      <%= link_to @recipe.category.name, category_path(@recipe.category_id) %>
    </p>
    <div class="box border px-5 py-4">
      <%= link_to name_path(@recipe.user) do %>
        <% if @recipe.user.avatar.attached? %>
          <%= image_tag @recipe.user.avatar.variant(resize_to_fill: [30, 30]).processed, class: %i[rounded-circle bg-white border mr-2] %>
        <% end %>
        <%= @recipe.user.name %>
      <% end %>
      <%= Time.zone.now %>
      <h1 class="mt-4">
        <%= @recipe.title %>
      </h1>
      <div class="d-flex mb-4">
        <% @tag_list.each do |tag| %>
          <div class="mr-3">
            <%= "##{tag}" %>
          </div>
        <% end %>
      </div>
      <%= @recipe.content %>
      <div class="mt-4 text-center">
        <% if @recipe.shortcut_id.present? %>
          <%= link_to 'レシピをダウンロード', "https://www.icloud.com/shortcuts/#{@recipe.shortcut_id}", class: %i[btn btn-danger], target: :_blank %>
        <% else %>
          <button class="btn btn-secondary" disabled>
            レシピのリンク未登録
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
