<div class="col-11 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(notification.visitor) do %>
        <%= image_tag notification.visitor.avatar.variant(resize_to_fill: [25, 25]).processed, class: %i[rounded-circle bg-white mr-2] %>
        <strong>
          <%= notification.visitor.name %>
        </strong>
      <% end %>
      <%= 'さんが' %>
      <% case notification.action %>
      <% when 'recipe_like' then %>
        <%= link_to 'あなたのレシピ', notification.recipe, class: %i[font-weight-bold] %>
        <%= 'にいいねしました' %>
      <% when 'comment_like' then %>
        <%= link_to 'あなたのコメント', notification.comment.recipe, class: %i[font-weight-bold] %>
        <%= 'にいいねしました' %>
      <% when 'recipe_comment' then %>
        <%= link_to 'あなたのレシピ', notification.recipe, class: %i[font-weight-bold] %>
        <%= 'にコメントしました' %>
        <div class="px-4 py-2">
          <%= Comment.find_by(id: notification.comment_id)&.content %>
        </div>
      <% when 'others_recipe_comment' then %>
        <span>
          <%= link_to recipe_path(notification.recipe) do %>
            <%= image_tag notification.recipe.user.avatar.variant(resize_to_fill: [25, 25]).processed, class: %i[rounded-circle bg-white mr-2] %>
            <strong>
              <%= notification.recipe.user.name + 'さんのレシピ' %>
            </strong>
          <% end %>
        </span>
        <%= 'にコメントしました' %>
        <div class="px-4 py-2">
          <%= Comment.find_by(id: notification.comment_id)&.content %>
        </div>
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
  <hr>
</div>