<% set_meta_tags title: 'プレビュー', og: { type: 'article' } %>
<div class="container-fluid container-max-width mt-4">
  <div class="col-lg-10 mx-auto px-3 pb-2">
    <div class="d-flex align-items-center">
      <i class="fas fa-caret-square-right fa-lg mr-2"></i>
      <% if @recipe.category %>
        <p class="mb-0">
          <%= link_to @recipe.category.name, category_path(@recipe.category_id), class: %w[text-dark] %>
        </p>
      <% else %>
        <p class="mb-0 text-dark">
          カテゴリ未選択
        </p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-10 mx-auto mb-3 bg-white p-4 shadow-sm">
    <%= link_to labo_path(@recipe.user), class: %w[mr-4 text-dark word-break-all] do %>
      <% if @recipe.user.avatar.attached? %>
        <%= image_tag @recipe.user.avatar.variant(resize_to_fill: [30, 30]).processed, class: %w[rounded-circle bg-white border mr-1] %>
      <% else %>
        <%= image_pack_tag 'default_avatar.PNG', size: '30x30', class: %w[rounded-circle mr-1] %>
      <% end %>
      <strong>
        <%= @recipe.user.name %>
      </strong>
    <% end %>
    <span class="text-muted">
      <%= l Time.zone.now %>
    </span>
    <h2 class="mt-4 font-weight-bold">
      <% if @recipe.title.present? %>
        <%= @recipe.title %>
      <% else %>
        タイトル未定
      <% end %>
    </h2>
    <div class="d-flex flex-wrap mb-5">
      <%= render @tags %>
    </div>
    <%= @recipe.content %>
    <div class="mt-4 text-center recipe-download-area">
      <% if @recipe.shortcut_id.present? %>
        <%= link_to "https://www.icloud.com/shortcuts/#{@recipe.shortcut_id}", class: %w[btn recipe-download-btn text-white], target: :_blank, rel: 'noopener' do %>
          <i class="fas fa-mobile-alt fa-lg mr-2"></i>
          レシピをダウンロード
        <% end %>
      <% else %>
        <button class="btn btn-secondary" disabled>
          レシピのリンク未登録
        </button>
      <% end %>
    </div>
  </div>
</div>
